{% extends 'applicant/base.html' %}
{% load staticfiles %}
{% block content %}
<section class="content-header">
    <h1>
        Pagamento
        <small>Novo</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Form</li>
        <li class="active">Pagamento</li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Novo Pagamento:</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <form class="post-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <!--{{ form.as_p }}-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="applicant">Cliente</label>
                            <input id="applicant" type="text" class="form-control" name="applicant" required>
                        </div>
                        <div class="form-group">
                            <label for="plan">Pacote</label>

                            <select id="plan" class="form-control select2" style="width: 100%;" name="plan"
                                    required>
                                {% for a, d in form.fields.Plan %}
                                <option value="{{ a }}">{{ d }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="total_amount">Valor a pagar</label>
                            <input id="total_amount" type="text" class="form-control" name="total_amount">
                        </div>
                        <div class="form-group">
                            <label for="total_discount_amount">Total a pagar</label>
                            <input id="total_discount_amount" type="text" class="form-control"
                                   name="total_discount_amount">
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="save btn btn-default">Guardar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}