{% extends 'applicant/base.html' %}

{% block content %}
<section class="content-header">
    <h1>
        Info
        <small>Cliente</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Info</li>
        <li class="active">Cliente</li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Informacao do Cliente:</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="">
                <h1>{{ applicant.name }} {{ applicant.surname|linebreaksbr }} </a></h1>
                <p>Ultimo pagamento: Janeiro/2019</p>
                <p>Data de Inscriçao: {{ applicant.application_date }}</a></p>
                <p>Tipo de plano: {{ applicant.plan }}</p>
                <a class="btn btn-default" href="{% url 'gym:applicant_edit' pk=applicant.pk %}"><span
                        class="glyphicon glyphicon-pencil"></span></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}